@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

::-webkit-scrollbar {
   width: 0px;
}
body {
   margin: 0;
   padding: 0;
}
* {
   margin: 0;
   padding: 0;
}

.progress-bar {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
}
.side-panel {
   height: calc(100vh - 64px);
   background-color: #ecebeb;
   display: flex;
   align-items: center;
}
[data-ul] {
   padding: 0px;
   margin-left: 0px;
}
[data-ul] li {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}
[data-ul]::before {
   content: attr(data-ul);
   text-decoration: underline;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 10px;
   display: block;
}
[data-ul] li::before {
   content: "-";
}
.cli {
   background-color: #272822;
   color: white;
   padding: 10px 25px 10px 25px;
   margin: 10px 0px 10px 0px;
   display: inline-block;
   border-radius: 0px;
}
.cli::before {
   content: ">_\00a0";
   font-weight: 700;
   margin: 0px 10px 0px 0px;
   color: #61dafb;
}
.app-container {
   height: calc(100vh - 64px);
   overflow-y: scroll;
}
/* docs-link */
.docs-link {
   color: rgb(129, 126, 126) !important;
   text-decoration: none !important;
}
.active-docs-link {
   color: #1976d2;
   font-weight: 600 !important;
}

/* .docs-sub-link */
.docs-sub-link {
   color: black !important;
   text-decoration: none !important;
}

.active-docs-sub-link {
   color: #1976d2 !important;
}
/* docs-sub-link  */

.error {
   color: red;
   display: block;
}
label {
   display: block;
}
input[type="text"] {
   width: 100%;
}
.btn-group Button {
   text-transform: unset !important;
}
.t-t-u-s {
   text-transform: unset !important;
}
.t-t-c {
   text-transform: capitalize !important;
}
.form-card {
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 0.25rem;
   margin: 12px;
}
